<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta_app' %>
  <title>Workomo Fetch details</title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>

<body>
<!-- Wrapper-->
<div id="container">

  <!-- Navigation -->
  <%= render 'layouts/navigation' %>

  <!-- Page wraper -->
  <div class="container-fluid">

    <!-- Page wrapper -->
    <%= render 'layouts/topnavbar' %>

    <!-- Devise Flash Messages -->
    <%= render 'layouts/messages' %>

    <!-- Main view  -->
    <%= yield %>

    <%= render 'layouts/footer' %>

  </div><!-- End page wrapper-->
</div><!-- End wrapper-->

<%= yield :javascript %>

</body>
</html>
